spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure: DEBUG

jwt:
  secret: ${JWT_SECRET}
  access-token-expiry: 900000      # 15 min (in ms)
  refresh-token-expiry: 604800000  # 7 days (in ms)
